body {
  max-width: 85%;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  font-family: "JetBrains Mono", monospace, sans-serif;
  font-size: 14px;
}

a {
  color: black;
}

a:visited {
  color: indigo;
}

a:hover {
  background: black;
  color: white;
}

a:visited:hover {
  background: indigo;
  color: white;
}

.crumbs {
  padding: 0;
  font-size: 1.25em;
}

.crumbs ol {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}

.crumbs ol li {
  display: inline-block;
}

.crumbs ol li:not(:last-child)::after {
  content: "::";
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.crumbs a:visited {
  color: inherit;
}

.crumbs a:visited:hover {
  color: white;
  background: black;
}

.note-list {
  margin-left: 0px;
  padding-left: 0px;
}

.note-list li {
  list-style-type: none;
}

.note-list .date {
  float: right;
}

pre {
  border: 1px solid #DDD;
  padding: 1em;
  overflow-x: auto;
}

code {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.95em;
}

img,
iframe,
video {
  max-width: 100%;
}

ul {
  list-style-type: disc;
  padding-left: 1em;
}