<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta name="description" content={{ config.description }} />
  <title>{{ config.title }}</title>
  <script src="/htmx.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/style.css" />
  <link rel="icon" href="/favicon.svg" type="image/x-icon" />
</head>

<body hx-boost="true">
  <nav class="crumbs">
    <ol>
      <li><a href="/">Home</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/research">Research</a></li>
    </ol>
  </nav>
  <main hx-swap="innerHTML" hx-push-url="true">
    {% block content %}{% endblock content %}
  </main>
</body>

</html>