<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ config.title }}</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/fonts.css" />
  <link rel="icon" href="/favicon.svg" type="image/x-icon" />
</head>

<body>
  <nav class="crumbs">
    <ol>
      <li><a href="/">home</a></li>
      <li><a href="/notes">notes</a></li>
      <li><a href="/research">research</a></li>
    </ol>
  </nav>
  {% block content %}{% endblock content %}
</body>

</html>